body {
    font-family: sans-serif;
    font-size: 14px;
}

.checkbox {
    display:  flex;
    align-content: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.checkbox p {
    margin: 10px;
    margin-left: 5px;

}